---
import Page from "@layouts/page";
---

<Page title="About me">
	<h1>About me</h1>
	<p>
	My natural wine journey started back in Spring of 2021. I was traveling to Wisconsin to see my mom, where she lived at the time. On this roadtrip we stopped near Minneapolis Minnesota to visit a friend. She offered us dinner while we were on our roadtrip. She also worked at a liquor store and had brought a bottle of wine for us to try. The wine was a Pet Nat from Slovenia. I was instantly intrigued. It reminded me of Kombucha, but much more flavor full and fun.
	
	After return to KC I desperately searched for a place to find Pet Nats and other natural wines. Thankfully I was able to a small local shop with a large selection of wine. Big Mood Wine became a staple for me and I soon joined their wine club, and began attending tasting events.
	
	This blog is meant to serve as a record or journal of different wines and other drinks that I have tried and enjoyed. The tasting descriptions will be very informal and fun, but hopefully encourage you to branch out and try new things!
	</p>
</Page>
