---
import { nav } from "@data/nav"
---
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="p-2 hover:underline md:text-2xl font-bold flex gap-4 items-center">
      <svg width="48" height="48" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" class="fill-current">
<path opacity="0.2" d="M202.1 112.3L200.4 106.7C191.1 112.2 165.6 122.8 128 104C92.7 86.4 68.1 94.6 57.5 100.3L53.9 112.3C52.2913 117.831 52.717 123.756 55.1 129C61.4383 143.024 71.6869 154.922 84.6172 163.267C97.5474 171.613 112.61 176.052 128 176.052C143.39 176.052 158.453 171.613 171.383 163.267C184.313 154.922 194.562 143.024 200.9 129C203.283 123.756 203.709 117.831 202.1 112.3V112.3Z"/>
<path d="M209.7 110L183.7 21.7C183.204 20.0462 182.185 18.5973 180.798 17.57C179.41 16.5426 177.727 15.9919 176 16H80C78.2733 15.9919 76.5903 16.5426 75.2024 17.57C73.8146 18.5973 72.7964 20.0462 72.3 21.7L46.3 110C44.0828 117.336 44.6161 125.229 47.8 132.2C54.22 146.383 64.2835 158.611 76.966 167.64C89.6486 176.669 104.497 182.176 120 183.6V224H88C85.8783 224 83.8434 224.843 82.3431 226.343C80.8429 227.843 80 229.878 80 232C80 234.122 80.8429 236.157 82.3431 237.657C83.8434 239.157 85.8783 240 88 240H168C170.122 240 172.157 239.157 173.657 237.657C175.157 236.157 176 234.122 176 232C176 229.878 175.157 227.843 173.657 226.343C172.157 224.843 170.122 224 168 224H136V183.6C151.503 182.176 166.351 176.669 179.034 167.64C191.716 158.611 201.78 146.383 208.2 132.2C211.384 125.229 211.917 117.336 209.7 110ZM86 32H170L190.8 102.5C180.1 107 159.8 110.9 131.6 96.8C105.4 83.8 84.4 83.8 69.7 87.3L86 32ZM193.6 125.7C187.893 138.316 178.669 149.018 167.034 156.525C155.399 164.032 141.847 168.024 128 168.024C114.153 168.024 100.601 164.032 88.9657 156.525C77.3306 149.018 68.107 138.316 62.4 125.7C60.7891 122.186 60.5049 118.207 61.6 114.5L64.2 105.9C75.2 101 95.6 96.8 124.4 111.2C141.7 119.8 156.7 122.7 169.1 122.7C177.937 122.711 186.707 121.153 195 118.1C195.187 120.711 194.705 123.327 193.6 125.7V125.7Z"/>
</svg>

      Not Just Wine
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0 hidden md:flex">
      {nav.map(item => (
        <li>
          <a href={item.slug}>{item.title}</a>
        </li>
      ))}
    </ul>
    <slot/>
    <div class="dropdown dropdown-end md:hidden">
      <label tabindex={0} class="btn btn-ghost btn-square">
        <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </label>
      <ul tabindex={0} class="dropdown-content menu p-2 bg-base-200 rounded-box w-52 menu-compact">
        {nav.map(item => (
          <li>
            <a href={item.slug}>{item.title}</a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</div>
